.toggle-button{
    display: flex;
    flex-direction: column;
    background: transparent;
    position: fixed;
    left: 85%;
    top: 0px;
    
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button :focus{
    outline: none;
}
