.App {
    text-align: left;
    font-size: 16px;
}

table{
    height: auto;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: #7AAFFD;
    color: white;
}

td, th{
    border: 1px solid rgb(189, 189, 189);
    padding: 0.5%;
    text-align: center;
}
tr:nth-child(even) {
	background-color: #F9F9F9;
}
.formStyle{
    margin: 0.5% 1%;
}

input[type=text]{
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 4px;
    margin: 4px 0;
}

input[type=number]{
    border: 2px solid #ccc;
    width: 6%;
    border-radius: 4px;
    margin: 4px 0;
}
input[type=password]{
    border: 2px solid #ccc;
    width: 30%;
    border-radius: 4px;
    margin: 4px 0;
}
input[type=submit]{
    width: 10%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    margin: 0% 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.imglogo2{
    float: right;
    width: 40%;
    height: auto;
    margin-top: -40%;
    margin-right: 15%;
}
/* 
.pasw{
    margin-left: 30px;
} */
@media screen and (max-width: 700px){
    input[type=submit]{
        width: 100%;
        margin: 0;
    }
    input[type=text]{
        width: 100%;
        margin-bottom: 20px;
    }
    input[type=password]{
        width: 100%;
        margin-bottom: 20px;
    }
    input[type=number]{
        width: 50%;
        margin-bottom: 20px;
    }
    .pasw{
        margin-left: 0;
    }

    table th{
        display: none;
    }
    table, table tbody, table tr, table td{
        display: block;
        width: 100%;
    }
    .imglogo2{
        display: none;
    }
}